*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-body-color: rgba(33, 33, 33, 1);
  --white-color: rgba(255, 255, 255, 1);
}

/* ____________________________   Utils  _____________________________ */

body {
  margin: 0;
  background-color:var(--primary-body-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;
  background-color:var(--white-color);
}

/* ______________________________     Header   ___________________________________ */
/* ______________________________ Section-title _________________________________ */

.section-title {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title-text {
  margin-bottom: 20px;
}

/* _____________________________ Section-info __________________________________ */

.section-info {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-title {
  margin-bottom: 20px;
}

.info-text {
  margin-bottom: 20px;
}



.info-perforation_type {
  margin-bottom: 20px;
  text-align: center;
}

.info-standard_perforation {
  text-align: left;
  margin-bottom: 10px;
  
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--primary-body-color);
}

td > ul {
  margin-bottom: 10px;
}

.column-left {
  width: 30%; /* Ширина левой колонки */

  padding: 10px;
}

.column-right {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 10px;

  width: 70%; /* Ширина правой колонки */
}

.fail-pdf {
  margin-left: 30px;
}

/* _____________________________ Section-advantages __________________________________ */

.advantages-section {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.advantages-title {
  margin-bottom: 20px;
  text-align: center;
}

.advantages-img {
  float: left;
  margin-right: 10px;
}

.advantages-text {
  margin-bottom: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title-reliability {
  text-align: center;
  margin-bottom: 20px;
}


.marker-reliability {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 20px;
}

.reliability-text {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}